<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="col">
                {{localize 'SHEET.SocialFactor'}}
            </h2>
            <p><em>{{localize 'SHEET.SocialFactorInfo'}}</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <label>
                <input type="number" readonly="readonly" value="{{system.socialFactor.sfWornItems.value}}">
                <span>{{localize 'SHEET.SocialFactorFromWornItems'}}</span>
            </label>
        </div>
        <div class="col-6 col-lg-3">
            <label>
                <input type="number" readonly="readonly" value="{{system.socialFactor.sfHonoraryRanks.value}}">
                <span>
                    {{localize 'SHEET.SocialFactorFromHonoraryRanks'}}
                </span>
            </label>
        </div>
        <div class="col-6 col-lg-3">
            <label class="karma">
                <input type="number" class="systemSocialFactorSfOtherValue" value="{{system.socialFactor.sfOther.value}}">
                <span>
                    {{localize 'SHEET.SocialFactorFromOther'}}
                </span>
            </label>
        </div>
        <div class="col-6 col-lg-3">
            <label class="endurance">
                <input type="number" readonly="readonly" value="{{system.socialFactor.sfTotal.value}}">
                <span>
                    {{localize 'SHEET.SocialFactorTotal'}}
                </span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="col">
                {{localize 'SHEET.HonoraryRanks.Name'}}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>
                {{#select system.honoraryRanks.imperial.value}}
                <select name="system.honoraryRanks.imperial.value">
                    {{#each imperialRanks as |type id|}}
                    <option value="{{id}}">{{localize type.name}}</option>
                    {{/each}}
                </select>
                {{/select}}
                <span>{{localize 'SHEET.HonoraryRanks.Empire'}}</span>
            </label>
            {{#if system.honoraryRanks.imperial.unlocks}}
            <p>
                <strong>{{localize 'SHEET.HonoraryRanks.Unlocks'}}:</strong>
                {{system.honoraryRanks.imperial.unlocks}}
            </p>
            {{/if}}
        </div>
        <div class="col-6">
            <label>
                {{#select system.honoraryRanks.federation.value}}
                <select name="system.honoraryRanks.federation.value">
                    {{#each federationRanks as |type id|}}
                    <option value="{{id}}">{{localize type.name}}</option>
                    {{/each}}
                </select>
                {{/select}}
                <span>
                    {{localize 'SHEET.HonoraryRanks.Federation'}}
                </span>
            </label>
            {{#if system.honoraryRanks.federation.unlocks}}
            <p>
                <strong>{{localize 'SHEET.HonoraryRanks.Unlocks'}}:</strong>
                {{system.honoraryRanks.federation.unlocks}}
            </p>
            {{/if}}
        </div>
    </div>
</div>
