<div class="container-fluid">
    <div class="row">
    {{#each system.skills as |sk s|}}
        <div class="col-12 col-lg-6">
            <h2>{{localize sk.label}}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>{{localize "SHEET.SkillLabel"}}</th>
                    <th>{{localize "SHEET.ScoreLabel"}}</th>
                    <th>{{localize "SHEET.GeniusLabel"}}</th>
                    <th>{{localize "SHEET.BonusLabel"}}</th>
                    <th class="highlight">&check;</th>
                </tr>
                </thead>
                <tbody>
                {{#each sk.skills as |skillObject skillKey|}}
                <tr>
                    <th>
                        <a class="skill-roll" data-skill="{{skillKey}}" data-section="{{s}}">{{localize skillObject.label}}</a>
                    </th>
                    <td>
                        <input class="changeSkillValue" value="{{skillObject.value}}" type="number" step="1" min="10" data-skill="{{skillKey}}" data-section="{{s}}">
                    </td>
                    <td>
                        <input class="changeCapValue" value="{{skillObject.maxCapModifier}}" type="number" step="10" min="0" data-skill="{{skillKey}}" data-section="{{s}}">
                    </td>
                    <td>
                        <span>{{skillObject.bonus}}</span>
                    </td>
                    <td class="highlight">
                        <span class="clickChecked" data-skill="{{skillKey}}" data-section="{{s}}">
                        {{#if (eq skillObject.isChecked 1)}}
                            <i class="far fa-check-square"></i>
                        {{else}}
                            <i class="far fa-square"></i>
                        {{/if}}
                        </span>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/each}}
    </div>
</div>
