.edrpgsheet, .edrpgitemsheet {
  font-family: "Exo 2", sans-serif;

  .window-content {
    background: $window-background-color;
  }
  input, textarea, select, .personal {
    background: $personal-info-gradient;
    border: solid 1px $input-border-color;
    border-radius: 0;
    padding: 5px 10px;
  }
  select {
    padding: unset;
    max-width: 100%;
  }
  .row {
    margin-bottom: .5em;
  }
  .characterImage {
    img {
      background: $personal-info-gradient;
    }
  }

  .sheet-topfield {
    text-align: center;
    .field-name {
      display: block;
      background: $default-heading-gradient;
      color: $default-heading-color;
      padding: 4px;
      font-size: .9em;
      font-weight: bold;
      font-stretch: expanded;
      text-transform: uppercase;
      &.character-name {
        text-align: left;
        padding-left: 30px;
        clip-path: polygon(0 0, 100% 0, calc(100% - 5px) 5px, 100px 5px, 80px 100%, 24px 100%);
      }
      &.character-rank {
        text-align: left;
        padding-left: 8px;
        clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
      }
    }
    input[name="name"] {
      text-align: left;
    }
    input[name="name"], .rankPoints {
      height: auto;
      font-size: 2em;
    }
    input[name="system.status.rank.value"] {
      border-width: 0;
    }
    .name-secondary {
      display: block;
      background: $personal-info-gradient;
      color: $secondary-heading-color;
      padding: 6px 8px;
      font-stretch: condensed;
      text-align: left;
      text-transform: uppercase;
    }
    &.secondary {
      display: block;
      background: $personal-info-gradient;
      width: 100%;
      height: 60px;
      clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
      span {
        background: transparent;
        padding-left: 12px;
      }
      input {
        background: transparent;
        width: calc(100% - 50px);
        margin-top: 4px;
      }
    }
    &.big {
      .field-value {
        background: $personal-info-gradient;
        min-height: 50px;
        line-height: 50px;
      }
      &.left {
        .field-name {
          text-align: left;
          clip-path: polygon(0 0, 50% 0, 75% 100%, 0 100%);
        }
        .field-value {
          clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
        }
      }
      &.center {
        .field-name {
          clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
        }
        .field-value {
          clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
        }
      }
      &.right {
        .field-name {
          background: $reverse-heading-gradient;
          text-align: right;
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
        }
        .field-value {
          clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
        }
      }
      .field-value {
        display: block;
        input {
          width: 3em;
        }
      }
    }
    &.karma {
      .field-name {
        background: $karma-heading-gradient;
      }
      .field-value {
        background: $karma-input-gradient;
      }
      input {
        background: transparent;
        border-color: $skill-karma;
      }
    }
    &.endurance {
      .field-name {
        background: $endurance-heading-gradient !important;
      }
      .field-value {
        background: $endurance-input-gradient;
      }
      input {
        background: transparent;
      }
    }
  }
  .sheet-tabs {
    margin: .8em 0;
    border-top: solid 1px $default-color;
    border-bottom: solid 1px $default-color;
    font-weight: bold;
    background: $sheet-tabs-gradient;
    .item {
      padding: 5px 10px;
      width: 100%;
    }
    .active {
      background: $active-tab-background;
      color: $active-tab-color;
      text-shadow: none;
    }
  }
  .tab {
    h2 {
      background: $default-heading-gradient;
      color: $default-heading-color;
      padding: 2px 6px;
      margin: 0 0.25rem;
      border-bottom: 0;
      font-size: 1.25em;
      font-stretch: expanded;
      text-transform: uppercase;
      clip-path: polygon(50% 0, 55% 60%, 97% 60%, 100% 100%, 0 100%, 0 0);
    }
    .container-fluid .row {
      row-gap: 1rem;
    }
    .table {
      background: transparent;
      margin: 0;
      border: 0;
      border-collapse: separate;
      border-spacing: 0.25rem;
      thead th {
        background: $skill-default-heading;
        width: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: none;
        &:first-of-type {
          width: revert;
          padding-right: 6px;
          text-align: right;
        }
        &.highlight {
          background: $skill-blue-heading;
        }
      }
      tbody {
        th {
          background: $skills-gradient;
          padding: 0 6px;
          font-stretch: condensed;
          font-weight: 500;
          text-align: right;
        }
        tr {
          text-align: center;
          td {
            background: $skill-default-color;
            border: solid 1px $input-border-color;
            padding: 0;
            &.highlight {
              border-color: $skill-blue-border;
              background: $skill-blue-color;
            }
            input, span {
              display: block;
              background: transparent;
              width: 100%;
              height: 100%;
              border: 0;
            }
          }
        }
      }
    }
    .karma {
      h2 {
        background: $karma-heading-gradient;
      }
      thead th {
        background: $skill-karma;
      }
    }
  }
}
