<form class="{{cssClass}}" autocomplete="off">
  <header class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="row">
      <div class="col-4 col-lg-2 characterImage">
        <img alt="Character image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
      </div>
      <div class="col-6 col-lg-8">
        <div class="row">
          <label class="sheet-topfield flex-fill">
            <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'Character Name'}}">
            <span class="field-name character-name">{{localize "Name"}}</span>
          </label>
        </div>
        <div class="row">
          <div class="col-6 col-lg-3">
            <label class="sheet-topfield secondary">
              <input type="text" value="{{system.info.gender.value}}" name="system.info.gender.value"
                     title="{{localize 'SHEET.Gender'}}">
              <span class="name-secondary">{{localize "SHEET.Gender"}}</span>
            </label>
          </div>
          <div class="col-6 col-lg-3">
            <label class="sheet-topfield secondary">
              <input type="text" value="{{system.info.age.value}}" name="system.info.age.value"
                     title="{{localize 'SHEET.Age'}}">
              <span class="name-secondary">{{localize "SHEET.Age"}}</span>
            </label>
          </div>
          <div class="col-6 col-lg-3">
            <label class="sheet-topfield secondary">
              <input type="text" value="{{system.info.height.value}}" name="system.info.height.value"
                     title="{{localize 'SHEET.Height'}}">
              <span class="name-secondary">{{localize "SHEET.Height"}}</span>
            </label>
          </div>
          <div class="col-6 col-lg-3">
            <label class="sheet-topfield secondary">
              <input type="text" value="{{system.info.weight.value}}" name="system.info.weight.value"
                     title="{{localize 'SHEET.Weight'}}">
              <span class="name-secondary">{{localize "SHEET.Weight"}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="sheet-topfield big sheet-rank">
          <span class="field-name character-rank">{{localize "SHEET.Rank"}}</span>
          <input name="system.status.rank.value" type="text" readonly value="{{localize system.status.rank.value.name}}">
          <span class="name-secondary">{{localize "SHEET.RankPoints"}}</span>
          <input class="rankPoints changeStatusValue"
                 data-stateid="rankPoints" type="number" value="{{system.status.rankPoints.value}}"
                 placeholder="{{localize 'SHEET.RankPoints'}}" min="0" step="1">
        </label>
      </div>
    </div>
    <div class="row stats">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-4 pr-0">
            <label class="sheet-topfield big left">
              <span class="field-name">{{localize "SHEET.Dodge"}}</span>
              <span class="field-value">{{system.skills.personalCombat.skills.dodge.bonus}}</span>
            </label>
          </div>
          <div class="col-4 p-0">
            <label class="sheet-topfield big center">
              <span class="field-name">{{localize "SHEET.Initiative"}}</span>
              <span class="field-value">{{system.skills.intelligence.skills.tactics.bonus}}</span>
            </label>
          </div>
          <div class="col-4 pl-0">
            <label class="sheet-topfield big right">
              <span class="field-name">{{localize "SHEET.Parry"}}</span>
              <span class="field-value">{{system.skills.personalCombat.skills.parry.bonus}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-4 pr-0">
            <label class="sheet-topfield big left karma">
              <span class="field-name">{{localize "SHEET.Karma"}}</span>
              <span class="field-value">
                <input name="system.status.karma.value" type="number"
                       value="{{system.status.karma.value}}"
                       max="{{system.status.rank.value.karmaPoints}}" min="0" step="1">
                / {{system.status.rank.value.karmaPoints}}
              </span>
            </label>
          </div>
          <div class="col-4 p-0">
            <label class="sheet-topfield big center karma">
              <span class="field-name">{{localize "SHEET.KarmaCyber"}}</span>
              <span class="field-value">
                <input name="system.status.karma.value" type="number"
                       value="{{system.status.karmaCyber.value}}"
                       max="{{system.status.karmaCyberMax.value}}" min="0" step="1">
                / {{system.status.karmaCyberMax.value}}
              </span>
            </label>
          </div>
          <div class="col-4 pl-0">
            <label class="sheet-topfield big right endurance">
              <span class="field-name">{{localize "SHEET.Endurance"}}</span>
              <span class="field-value">
                <input name="system.status.karma.value" type="number"
                       value="{{system.status.endurance.value}}"
                       max="{{system.status.rank.value.endurance}}" min="0" step="1">
                / {{system.status.rank.value.endurance}}
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- TABS -->
  <section id="tab-sections">
    <nav id="edrpg-tabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
      <a class="item active" data-tab="main">{{localize "SHEET.MainLabel"}}</a>
      <a class="item" data-tab="skills">{{localize "SHEET.SkillsLabel"}}</a>
      <a class="item" data-tab="backgroundskarma">{{localize "SHEET.BackgroundsAndKarmaLabel"}}</a>
      <a class="item" data-tab="combat">{{localize "SHEET.CombatLabel"}}</a>
      <a class="item" data-tab="equipment">{{localize "SHEET.EquipmentLabel"}}</a>
    </nav>

    <section class="content">
      <div class="tab main save-scroll" data-tab="main">
        {{> systems/edrpg/templates/sheets/partials/actor-main.html}}
      </div>
      <div class="tab skills save-scroll" data-tab="skills">
        {{> systems/edrpg/templates/sheets/partials/actor-skills.html}}
      </div>
      <div class="tab main save-scroll" data-tab="backgroundskarma">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-6">
              {{> systems/edrpg/templates/sheets/partials/actor-backgrounds.html}}
            </div>
            <div class="col-12 col-lg-6">
              {{> systems/edrpg/templates/sheets/partials/actor-karma.html}}
            </div>
            <div class="col-12 col-lg-6">
              {{> systems/edrpg/templates/sheets/partials/actor-enhancements.html}}
            </div>
          </div>
        </div>
      </div>
      <div class="tab main save-scroll" data-tab="combat">
        {{> systems/edrpg/templates/sheets/partials/actor-combat.html}}
      </div>
      <div class="tab main save-scroll" data-tab="equipment">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-6">
              {{> systems/edrpg/templates/sheets/partials/equipment/ranged-weapons.html}}
              {{> systems/edrpg/templates/sheets/partials/equipment/clips-grenades.html}}
              {{> systems/edrpg/templates/sheets/partials/equipment/armour.html}}
              {{> systems/edrpg/templates/sheets/partials/equipment/general.html}}
            </div>
            <div class="col-12 col-lg-6">
              {{> systems/edrpg/templates/sheets/partials/equipment/close-combat.html}}
              {{> systems/edrpg/templates/sheets/partials/equipment/cybernetics.html}}
              {{> systems/edrpg/templates/sheets/partials/equipment/wearables.html}}
            </div>
            <div class="col-12 col-lg-6">
            </div>
            <div class="col-12 col-lg-6">
            </div>
            <div class="col-12 col-lg-6">
            </div>
            <div class="col-12 col-lg-6">
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

</form>
