/** 0. Settings **/

$gutter: .2rem;
$default-color: #012533;
$input-border-color: #858585;

$window-background-color: #ffffff;
$sheet-tabs-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(179,197,227,1) 100%);
$active-tab-background: #78a0d1;
$active-tab-color: #ffffff;

$personal-info-gradient: linear-gradient(90deg, rgba(168,186,217,1) 0%, rgba(255,255,255,1) 100%);
$default-heading-gradient: linear-gradient(90deg, rgba(0,0,7,1) 0%, rgba(51,151,217,1) 100%);
$reverse-heading-gradient: linear-gradient(90deg, rgba(51,151,217,1) 0%, rgba(0,0,7,1) 100%);
$default-heading-color: #ffffff;
$secondary-heading-color: #2b3d4f;
$karma-heading-gradient: linear-gradient(90deg, rgba(46,0,120,1) 0%, rgba(138,81,255,1) 100%);
$karma-input-gradient: linear-gradient(90deg, rgba(194,184,255,1) 0%, rgba(255,255,255,1) 100%);
$endurance-heading-gradient: linear-gradient(90deg, rgba(230,0,0,1) 0%, rgba(255,151,0,1) 100%);
$endurance-input-gradient: linear-gradient(90deg, rgba(248,194,181,1) 0%, rgba(255,255,255,1) 100%);
$skills-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(168,186,217,1) 100%);
$background-description-gradient: linear-gradient(90deg, #142136 0%, #457fc1 100%);
$background-description-color: #ffffff;

$skill-default-heading: #759cc7;
$skill-default-color: #eeeeee;
$skill-blue-heading: #4c82ba;
$skill-blue-color: #dee8f3;
$skill-blue-border: #5e85ab;
$skill-karma: #9e9cd1;
$description-background: #e4ecf7;
$description-border: #a9b6c5;

$chat-background: #ffffff;
$chat-color: #012533;
$chat-heading-background: #78a0d1;
$chat-heading-color: #ffffff;
$chat-test-success-color: #33d633;
$chat-test-failure-color: #d63333;
$chat-img-background: #78a0d1;
$chat-actor-border: dashed 1px #78a0d1;
$chat-button-border: solid 1px rgba(86,36,133,1);
$chat-button-color: $default-color;
$chat-button-background: $karma-input-gradient;



@import 'bootstrap/bootstrap-grid';
@import "custom/1-fonts";
@import "custom/2-windows";
@import "custom/3-sheet";
@import "custom/4-tests";
@import "custom/5-chat";

i {
  pointer-events: none;
}

#tinymce {
  overflow-y: hidden;
  overflow-x: hidden;
}

.editor-content ul {
  margin: 0 0;
}

.input {
  max-width: 100%;
}
